body{
	font-family: 'Duru Sans', Helvetica-Neue, Helvetica, arial;
	color: #697279;
	padding:0;
	margin:0;
}
header{
	border-bottom: 1px solid #c1c1c1;
	padding:20px;
	max-width: 800px;
	margin: 0 auto;
}
section{
	padding:40px;
	max-width: 800px;
	margin: 0 auto 20px auto;
	clear:both;
}
footer{
	padding:20px;
	max-width: 800px;
	margin: 0 auto;
	border-top: 1px solid #c1c1c1;
	font-size: 8pt;
}
#logout{
	margin:20px;
	float: right;
}
h1{
	padding:10px 0;
	margin:0;
}
h2{
	padding:0;
	margin:0 10px;
}
h3{
	padding: 0;
	margin: 4px 10px;
	font-size: 10pt;
	color: #414143;
}
a{
	color: #a6a6a2;
}
a.active{
	color: #0fa0bb;
}
p{
	margin: 0 10px;
	font-size: 10pt;
}
div.roundedBox{
	height: 170px;
	margin: 8px 20px 0 0;
	border: 2px solid #697279;
	border-radius: 10px 0 10px 0;
}
.col3{
	width: 33%;
	float: left;
}
.col23{
	width: 66%;
	float: left;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.graph-holder{
	padding-top:10px;
}


.graph{
	width: auto;
	height:200px;
	margin-top:-8px;
	margin-left: -36px;
	border-radius: 10px 0 10px 0;
}
div.flot-y-axis.flot-y1-axis.yAxis.y1Axis{
	margin-left: -4px;
}